<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @lynching.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @lynching.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @lynching.day %>
</p>

<p>
  <strong>Month:</strong>
  <%= @lynching.month %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lynching.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @lynching.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @lynching.state %>
</p>

<p>
  <strong>Allegation:</strong>
  <%= @lynching.allegation %>
</p>

<%= link_to 'Edit', edit_lynching_path(@lynching) %> |
<%= link_to 'Back', lynchings_path %>
